<!doctype html>
<html>
    <head>
        <title>earlybird</title>
        <link rel="stylesheet" href="{{initPath}}/assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="{{initPath}}/assets/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />

    </head>

    <script>
        const SECTION_NAME = '{{sectionName}}';
    </script>

    <body class="{{sectionName}}">

    <header class="column {% if isWhite %} black {% endif %}">
        <nav>
            <a href='{{initPath}}/' class='work-nav'>WORK</a>
            <a href='{{initPath}}/directors' class='directors-nav'>DIRECTORS</a>
            <a href='{{initPath}}/about' class='about-nav'>ABOUT</a>
            <a href='{{initPath}}/cntact' class='contact-nav'>CONTACT</a>
            <img src="{{initPath}}/assets/img/footer-egg-white.png" />

            <div class="column nav-footer">
                <p>2021 EARLYBIRD ALL RIGHTS RESERVED.</p>
                <p>
                    <a>INSTAGRAM</a>
                    <a>FACEBOOK</a>
                    <a>VIMEO</a>
                </p>
            </div>
        </nav>

        <h1><a href='{{initPath}}/'>earlybird</a></h1>

        <div id="mobile-nav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
