<!doctype html>
<html>
    <head>
        <title>earlybird</title>
        <link rel="stylesheet" href="{{initPath}}/assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="{{initPath}}/assets/css/main.css">

    </head>

    <body class="{{sectionName}}">

    <header class="column">
        <nav>
            <a href='{{initPath}}/' class='work-nav'>WORK</a>
            <a href='{{initPath}}/about'>ABOUT</a>
            <a href='{{initPath}}/cntact' class='contact-nav'>CONTACT</a>

        </nav>
        <h1><a href='{{initPath}}/'>earlybird</a></h1>
    </header>
