{{ include('partials/header.twig') }}
    
    <section class="about column">
        <div class='we'>
            <h3>{{data.about.title}}</h3>
            <p>{{data.about.body | raw}}</p>
        </div>
        <div class='services'>
            <h3>{{data.services.title}}<span class="title">OUR EXPERTISE</span></h3>
            {{data.services.body | raw}}
        </div>
    </section>


{{ include('partials/footer.twig') }}
