{{ include('partials/header.twig') }}
    
    <section class="about column">
        <div class=''>
            <h3>{{data.about.title}}</h3>
            <p>{{data.about.body | raw}}</p>
        </div>
        <div class=''>
            <h3>{{data.services.title}}</h3>
            <p>{{data.services.body | raw}}</p>
        </div>
    </section>


{{ include('partials/footer.twig') }}
