{{ include('partials/header.twig') }}
    
    <section class="landing">
        <div class="egg">
            <img src="assets/img/egg1.png" />
        </div>
        <h2>
            earlybird
        </h2>

        <div class="landing-legend column">
            <p>
                Earlybird&trade; is an innovation and creative production
                and entertainment studio specialized in creating
                digital content and experiences as solutions to
                brands challenges.
            </p>
            <div class='social'>
                <div>
                    GET SOCIAL
                </div>
                <a href='http://vimeo.com' target='_blank'>VIMEO</a>
                <a href='http://instagram.com' target='_blank'>INSTAGRAM</a>
                <a href='http://facebook.com' target='_blank'>FACEBOOK</a>
                <a href='#' target='_blank'>CONTACT US</a>
            </div>
        </div>
    </section>

    <section class="work">
        <div class="categories">
        <a data-category="all" href="">ALL</a><span>/</span>{% for category in data.categories %}<a data-category="{{ category.slug }}" href="?category={{ category.slug }}">{{ category.name }}</a><span>/</span>{% endfor %}
        </div>

        <div class="items">
        {% for work in data.works %}
            <article class="item" data-catagories="{{work.categories|join(',')}}">
                <a href="work/{{ work.slug }}" >
                    <span class="description-container">
                        <img src="{{ work.thumb }}" width="100%" alt="{{ work.name }}"/>
                        <p class= "description">{{ work.description }}</p>
                    </span>
                    <p class="work-title">{{ loop.index < 10 ? 0 : null }}{{loop.index}}. {{ work.name }}</p>
                </a>
            </article>
        {% endfor %}
        </div>
    </section>


{{ include('partials/footer.twig') }}
